{% extends 'app_shop/base.html' %}

{% block main %}
{% if messages %}
  {% for i_message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Платеж завершен</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}


<h4>Средняя цена на маркетплейсе составляет: {{avg_price|floatformat:2}} RUB</h4>
<div class="d-flex justify-content-start mt-5" xmlns="http://www.w3.org/1999/html">

  {% for i_good in goods %}
        <div class="card me-3" style="width: 18rem;">
          <img src="{{i_good.image.url}}" class="card-img-top" alt="good image">
          <div class="card-body">
              <h5 class="card-title">{{i_good.name}}</h5>
            <h6>{{i_good.category}}</h6>
            <h6>{{i_good.shop.name}}</h6>
            <p class="card-text">{{i_good.description|truncatewords:10}}</p>
              <p>{{i_good.price}} RUB</p>
              <form method="post" action="{% url 'add_good' i_good.pk %}">
                  {% csrf_token %}
                  {{add_form.good_num}}
                  <button type="submit" class="btn btn-primary">Добавить в корзину</button>
              </form>
          </div>
        </div>

  {% empty %}
       <h2>Корзина пуста ...=</h2>
  {% endfor %}
{% endblock %}
</div>
